<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from preview.hasthemes.com/exporso-preview/exporso/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Nov 2020 01:22:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HONDA WITH THAO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.png">*@

    <!-- all css here -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/plugin.css">
    <link rel="stylesheet" href="~/Assets/css/bundle.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/MyAngularJS.js"></script>
    <script src="~/Assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp">
    <!-- Add your site or application content here -->

    <div class="exporso_wrapper">
        <header>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3">
                            <div class="logo">
                                <a href="index.html"><img src="~/Assets/img/logo/logo.png" alt="exporso logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8">
                            <div class="category_search">
                                <form action="#">
                                    <div class="category_search_inner">
                                        <div class="select">
                                            <select name="categroy_search">
                                                <option value="1" selected>
                                                    Tất cả danh mục
                                                </option>
                                                <option value="2">
                                                    Xe mới nhất
                                                </option>
                                                <option value="3">
                                                    Xe sắp tới
                                                </option>
                                                <option value="4">
                                                    xe phổ biến
                                                </option>
                                                <option value="5">Xe bán chạy nhất</option>
                                            </select>
                                        </div>
                                        <div class="search">
                                            <input type="text" placeholder="Tìm kiếm ...">
                                        </div>
                                        <div class="submit">
                                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-1">
                            <div class="mini_cart_box_wrapper text-right">
                                <a href="#">
                                    <img src="~/Assets/img/icon/cart.png" alt="Mini Cart Icon">
                                    <span class="cart_count">02</span>
                                </a>
                                <ul class="mini_cart_box">
                                    <li class="single_product_cart">
                                        <div class="cart_img">
                                            <a href="product-details.html"><img src="~/Assets/img/product/pro_sm_1.png" alt=""></a>
                                        </div>
                                        <div class="cart_title">
                                            <h5><a href="product-details.html"> Soffer Pro x33</a></h5>
                                            <h6><a href="#">Black</a></h6>
                                            <span>$95.00 x 1</span>
                                        </div>
                                        <div class="cart_delete">
                                            <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </li>
                                    <li class="single_product_cart">
                                        <div class="cart_img">
                                            <a href="product-details.html"><img src="~/Assets/img/product/pro_sm_2.png" alt=""></a>
                                        </div>
                                        <div class="cart_title">
                                            <h5><a href="product-details.html"> Lotafaj una khdii</a></h5>
                                            <h6><a href="#">Black</a></h6>
                                            <span>$85.00 x 1</span>
                                        </div>
                                        <div class="cart_delete">
                                            <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </li>

                                    <li class="cart_space">
                                        <div class="cart_sub">
                                            <h4>Subtotal</h4>
                                        </div>
                                        <div class="cart_price">
                                            <h4>$180.00</h4>
                                        </div>
                                    </li>
                                    <li class="cart_btn_wrapper">
                                        <a class="cart_btn" href="cart.html">view cart</a>
                                        <a class="cart_btn " href="checkout.html">checkout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="menu d-none d-lg-block ">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="index.html">Giới thiệu <i class="zmdi zmdi-chevron-down"></i> </a>
                                            <ul class="sub_menu">
                                                <li><a href="index.html">Honda Việt Nam</a></li>
                                                <li><a href="index-2.html">Lịch sử phát triển</a></li>
                                                <li><a href="index-3.html">Tầm nhìn 2030</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">Xe máy</a></li>
                                        <li>
                                            <a href="shop.html">Sản phẩm <i class="zmdi zmdi-chevron-down"></i></a>
                                            <ul class="sub_menu">
                                                <li><a href="shop.html">Sản phẩm </a></li>
                                                <li><a href="shop-list-right-sidebar.html">Phụ tùng</a></li>
                                                <li><a href="shop-without-sidebar.html">Phụ kiện</a></li>
                                                <li><a href="product-details.html">Dịch vụ sau bán hàng</a></li>
                                                <li><a href="product-details-sidebar.html">Bán hàng doanh nghiệp</a></li>
                                                <li><a href="checkout.html">Cuộc thi lái xe sinh thái </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">My Honda+ <i class="zmdi zmdi-chevron-down"></i></a>
                                            <ul class="sub_menu">
                                                <li><a href="blog.html">Giới thiệu chung</a></li>
                                                <li><a href="blog-sidebar.html">Hướng dẫn sử dụng</a></li>
                                                <li><a href="blog-details.html">Tải ứng dụng</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Đóng góp xã hội </a></li>
                                        <li><a href="contact-us.html">Liên hệ </a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="header_right_info">
                                <ul>
                                    <li><a href="wishlist.html">Yêu thích<span> <i class="zmdi zmdi-favorite-outline"></i> (0) </span></a></li>
                                    <li> <a href="login.html">Đăng nhập</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none">
                            <!--Mobile menu murkup start-->
                            <div class="mobile-menu-area d-lg-none">
                                <div class="mobile-menu clearfix">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="index.html">HOME </a>
                                                <ul>
                                                    <li><a href="index.html">Home 1</a></li>
                                                    <li><a href="index-2.html">Home 2</a></li>
                                                    <li><a href="index-3.html">Home 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html">About</a></li>
                                            <li>
                                                <a href="shop.html">Shop</a>
                                                <ul>
                                                    <li><a href="shop.html">Shop </a></li>
                                                    <li><a href="shop-list-right-sidebar.html">shop Right Sidebar</a></li>
                                                    <li><a href="shop-without-sidebar.html">shop without Sidebar</a></li>
                                                    <li><a href="product-details.html">Product Details </a></li>
                                                    <li><a href="product-details-sidebar.html">Product Details Sidebar </a></li>
                                                    <li><a href="checkout.html">Checkout </a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="my-account.html">My Account</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact-us.html">CONTACT </a></li>
                                            <li>
                                                <a href="#">Features</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Column1</a>
                                                        <ul>
                                                            <li><a href="shop.html">Shop </a></li>
                                                            <li><a href="shop-list.html">Shop List</a></li>
                                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar </a></li>
                                                            <li><a href="shop-without-sidebar.html">Shop without Sidebar </a></li>
                                                            <li><a href="shop-list-without-sidebar.html">Shop List without Sidebar </a></li>
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Column2</a>
                                                        <ul>
                                                            <li><a href="product-details-sidebar.html">product Details Sidebar</a></li>
                                                            <li><a href="cart.html">Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="wishlist.html">wishlist</a></li>
                                                            <li><a href="my-account.html">My account</a></li>
                                                            <li><a href="login.html">login</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Column3</a>
                                                        <ul>
                                                            <li><a href="blog.html">Blog</a></li>
                                                            <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                            <li><a href="blog-details.html">Blog Details</a></li>
                                                            <li><a href="about-us.html">About Us </a></li>
                                                            <li><a href="contact-us.html">Contact Us </a></li>
                                                            <li><a href="404.html">404</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!--Mobile menu murkup End-->
                        </div>
                    </div>
                </div>
            </div>

        </header>

        @RenderBody()
        
        <!--Footer start-->
        <footer class="footer_area">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="our_help_services ptb-80">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="help_service d-flex">
                                            <div class="h_ser_icon">
                                                <i class="zmdi zmdi-boat"></i>
                                            </div>

                                            <div class="h_ser_text">
                                                <h3> Giao hàng miễn phí </h3>
                                                <p> Giao hàng miễn phí tại Hưng Yên </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="help_service d-flex justify-content-center">
                                            <div class="h_ser_icon">
                                                <i class="zmdi zmdi-shield-security"></i>
                                            </div>
                                            <div class="h_ser_text">
                                                <h3> Người nhận tiền </h3>
                                                <p> Giao hàng miễn phí tại Hưng Yên </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="help_service d-flex justify-content-end">
                                            <div class="h_ser_icon">
                                                <i class="zmdi zmdi-phone-setting"> </i>
                                            </div>
                                            <div class="h_ser_text">
                                                <h3> Hỗ trợ trực tuyến </h3>
                                                <p> Giao hàng miễn phí tại Hưng Yên </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer widget_description">
                                <p>Cảm ơn các bạn đã quan tâm và đông hành với chúng tôi đây là thông tin liên hệ.</p>
                                <div class="addresses_inner">
                                    <div class="single_address">
                                        <p>
                                            <span> Địa Chỉ: </span> <span>Yên Vĩnh - Dạ Trạch - Khoái Châu <br> Việt Nam</span>
                                        </p>

                                        <p>
                                            <span> SĐT: </span> <span>+12  2223 2223 22 <br>  +125 5455 5555 55</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="social__icon">
                                    <ul>
                                        <li>
                                            <a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="google-plus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                        </li>

                                        <li>
                                            <a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3> Dịch vụ </h3>
                                </div>
                                <ul>
                                    <li> <a href="#">Giao hàng miễn phí </a> </li>
                                    <li> <a href="#">Phân chia sản phẩm </a> </li>
                                    <li> <a href="#">Theo dõi Sản phẩm </a> </li>
                                    <li> <a href="#">Pyament Trực tuyến </a> </li>
                                    <li> <a href="#">Giảm giá </a> </li>
                                    <li> <a href="#">Nhà cung cấp Trực tuyến </a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3>Hỗ trợ</h3>
                                </div>
                                <ul>
                                    <li> <a href="#">Chất lượng </a> </li>
                                    <li> <a href="#">Chi tiết Đơn hàng </a> </li>
                                    <li> <a href="#">Lược qua Đơn đặt hàng </a> </li>
                                    <li> <a href="#">Giao hàng </a> </li>
                                    <li> <a href="#">Giao dịch tại cửa hàng </a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3>
                                        Tài khoản
                                    </h3>
                                </div>
                                <ul>
                                    <li><a href="#">Tài khoản của bạn </a></li>
                                    <li> <a href="#">Lịch sử đặt hàng </a> </li>
                                    <li> <a href="#">Danh sách mong muốn </a> </li>
                                    <li> <a href="#">Chi tiết Giỏ hàng </a> </li>
                                    <li> <a href="#">So sánh </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright_inner text-center">
                                <p>Copyright © ThaoNguyen </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer end-->



    </div>




    <!-- all js here -->
    <script src="~/Assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>

<!-- Mirrored from preview.hasthemes.com/exporso-preview/exporso/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Nov 2020 01:22:19 GMT -->
</html>
