<div ng-controller="lsp" class="col-lg-9 col-md-9">
    <div class="nav product_tab_menu justify-content-end" role="tablist">
        <a ng-repeat="i in listLSP" href="/SanPham/LoaiSanPham/#!?mlsp={{i.maLoai}}">{{i.TenLoai}}</a>       
    </div>
</div>
